* {
  box-sizing: border-box;
  padding: 0;
}

html {
  height: 100%;
}

body { 
  height: 100%;
  padding: 40px 96px 90px;
  margin: 0;
  font-family: var(--font-main);
}

:root {  
  --background: #ffffff; 
  --text: #000000;
  --gold: #A18A68;
  --dark-grey: #707070;
  --grey-light: #EFEFEF;
  --grey: #D8D8D8;
  --red: #D82700; 
}


@media (max-width: 800px) {
  body {
    padding: 15px 16px;
  }
}
  